<template>
  <div class="container">
    <div class="data-table">
      <div class="layout">
        <div class="text md-2" style="width: 100%; text-align: left">
          <h4
            style="font-size:32px; padding-left: 0px; padding-bottom: 30px; margin-top: 30px"
          >
            สมัครสมาชิกบริษัท
          </h4>
        </div>
      </div>
      <div class="data-table">
        <form ref="form">
          <b-row>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <!-- <div class="form-group">
                    <label for="name" style="font-size: 24px">ชื่อ-นามสกุล</label>
                    <input type="text" class="form-control" v-model="company.name" required>
                </div> -->
                <h4 style="font-size: 24px; padding-left: 0px;">
                  ชื่อผู้ใช้งาน
                </h4>
                <b-form-group
                  label-for="nameuser"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackUserName"
                  :state="stateUserName"
                >
                  <b-form-input
                    id="nameuser"
                    v-model="user.username"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  ชื่อบริษัท
                </h4>
                <b-form-group
                  label-for="name"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackCompanyName"
                  :state="stateCompanyName"
                >
                  <b-form-input
                    id="name"
                    v-model="company.name"
                    required
                  ></b-form-input>
                </b-form-group>

                <h4 style="font-size: 24px; padding-top: 30px;">
                  ชื่อ-นามสกุล
                </h4>
                <b-form-group
                  label-for="name"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackName"
                  :state="stateName"
                >
                  <b-form-input
                    id="name"
                    v-model="company.userName"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  ที่ตั้ง
                </h4>
                <b-form-group
                  label-for="location"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackLocation"
                  :state="stateLocation"
                >
                  <b-form-input
                    id="location"
                    v-model="company.location"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
            </b-col>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <h4 style="font-size: 24px; padding-left: 0px;">
                  รหัสผ่าน
                </h4>
                <b-form-group
                  label-for="email"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackUserPassword"
                  :state="stateUserPassword"
                >
                  <b-form-input
                    id="email"
                    type="password"
                    v-model="user.password"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  อีเมล์
                </h4>
                <b-form-group
                  label-for="email"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackEmail"
                  :state="stateEmail"
                >
                  <b-form-input
                    id="email"
                    v-model="user.email"
                    required
                  ></b-form-input>
                </b-form-group>

                <h4 style="font-size: 24px; padding-top: 30px;">
                  เว็บไซต์
                </h4>
                <b-form-group
                  label-for="webSite"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackWebsite"
                  :state="stateWebsite"
                >
                  <b-form-input
                    id="webSite"
                    v-model="company.website"
                    required
                  ></b-form-input>
                </b-form-group>
                <!-- <div class="form-group">
                    <label for="phoneNumber" style="font-size: 24px">เบอร์โทร</label>
                    <input type="text" class="form-control" v-model="company.phoneNumber" required>
                </div> -->
              </div>
            </b-col>
          </b-row>
          <div
            style="display: flex; justify-content: flex-end; margin-top: 70px;"
          >
            <b-button
              variant="danger"
              size="md "
              style="margin-right: 8px;"
              @click="cancelCompany()"
              >ยกเลิก</b-button
            >
            <b-button
              variant="success"
              size="md"
              style="margin-right: 8px"
              @click="saveCompany()"
              >สมัครสมาชิก
            </b-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import User from '../../models/User'
export default {
  data () {
    return {
      user: new User('', '', ''),
      company: {
        name: '',
        userName: '',
        location: '',
        website: '',
        isApprove: false
      }
    }
  },
  methods: {
    // editCompany (company) {
    //   this.title = 'Edit Company'
    //   this.form = { ...company }
    //   this.$bvModal.show('modal-form-company')
    // },
    // addJobposting () {
    //   this.$bvModal.show('modal-form-jobposting')
    // },
    // resetModal () {
    // },
    // handleOk (bvModalEvt) {
    //   bvModalEvt.preventDefault()
    //   this.handleSubmit()
    // },
    cancelCompany () {
      this.$router.push({
        name: 'Home'
      })
    },
    saveCompany () {
      // this.handleSubmit()
      // this.$router.push({
      //   name: 'Home'
      // })
      this.company.email = this.user.email
      axios
        .post('http://localhost:3000/companys', this.company)
        .then((data) => {
          this.$validator.validate().then(isValid => {
            if (isValid) {
              this.user.roles = ['company', 'user']
              this.user.ref = data.data._id
              this.$store.dispatch('auth/register', this.user).then(
                data => {
                  this.message = data.message
                  this.successful = true
                  this.user = new User('', '', '')
                  this.company = {
                    name: '',
                    userName: '',
                    location: '',
                    website: '',
                    isApprove: true
                  }
                  this.$router.push('/login')
                },
                error => {
                  this.message =
                    (error.response && error.response.data) ||
                    error.message ||
                    error.toString()
                  this.successful = false
                }
              )
            }
          })
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleSubmit () {
      const apiURL = 'http://localhost:3000/companys'

      axios
        .post(apiURL, this.company)
        .then(() => {
          this.company = {
            user: new User('', '', ''),
            company: {
              name: '',
              userName: '',
              location: '',
              website: '',
              isApprove: true
            }
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
    // getJobposting () {
    //   axios.get('http://localhost:3000/jobpostings').then(res => {
    //     this.jobpostingList = res.data
    //     console.log(this.jobpostingList)
    //   })
    // }
  },
  computed: {
    stateUserName () {
      return this.user.username.length >= 2
    },
    invalidFeedbackUserName () {
      if (this.user.username.length > 2) {
        return 'ผู้ใช้งาน ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อผู้ใช้งาน'
    },
    stateUserPassword () {
      return this.user.password.length >= 6
    },
    invalidFeedbackUserPassword () {
      if (this.user.password.length > 6) {
        return 'รหัสผ่าน ต้องมีขนาดอย่างน้อย 6 ตัวอักษร'
      }
      return 'กรุณากรอกรหัสผ่าน'
    },
    stateCompanyName () {
      return this.company.name.length >= 2
    },
    invalidFeedbackCompanyName () {
      if (this.company.name.length > 2) {
        return 'ชื่อบริษัท ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อบริษัท'
    },
    stateName () {
      return this.company.userName.length >= 2
    },
    invalidFeedbackName () {
      if (this.company.userName.length > 2) {
        return 'ชื่อ-นามสกุล ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อ-นามสกุล'
    },
    stateLocation () {
      return this.company.location.length >= 2
    },
    invalidFeedbackLocation () {
      if (this.company.location.length > 2) {
        return 'ที่ตั้ง ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกที่ตั้ง'
    },
    stateEmail () {
      return this.user.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.user.email.length > 2) {
        return 'อีเมล์ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกอีเมล์'
    },
    stateWebsite () {
      return this.company.website.length >= 2
    },
    invalidFeedbackWebsite () {
      if (this.company.website.length > 2) {
        return 'เว็บไซต์ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกเว็บไซต์'
    },
    loggedIn () {
      return this.$store.state.auth.status.loggedIn
    }
  },
  mounted () {
    if (this.loggedIn) {
      this.$router.push('/profile')
    }
  },
  created () {}
}
</script>
<style>
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
</style>
