<template>
  <div>
    <div style="width: 100%;text-align: end;">
      <b-button
        variant="success"
        class="float-none"
        @click="addNewJobSeeker"
        style="margin-right: 15px;"
        >Add New</b-button
      >
    </div>
    <b-modal
      id="modal-form-jobseeker"
      ref="modal-form-jobseeker"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          valid-feedback="Suscess"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          valid-feedback="Suscess"
          :invalid-feedback="invalidFeedbackEmail"
          :state="stateEmail"
        >
        <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="phoneNumber"
          label-for="phoneNumber"
          valid-feedback="Suscess"
          :invalid-feedback="invalidFeedbackphoneNumber"
          :state="statephoneNumber"
        >
          <b-form-input
            id="phoneNumber"
            v-model="form.phoneNumber"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group>
          <label for="birthdate">Birthdate</label>
          <b-input-group class="mb-3">
            <b-form-input
              id="birthdate"
              v-model="form.birthdate"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="off"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="form.birthdate"
                button-only
                right
                locale="en-US"
                aria-controls="birthdate"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="jobseekerList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editJobSeeker(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delJobSeeker(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
// import JobSeekerService from './JobSeekerService'
import axios from 'axios'
export default {
  data () {
    return {
      fields: [
        {
          key: '_id',
          label: 'Id'
        },
        {
          key: 'name',
          label: 'Name'
        },
        {
          key: 'email',
          label: 'Email'
        },
        {
          key: 'phoneNumber',
          label: 'PhoneNumber'
        },
        {
          key: 'birthdate',
          label: 'Birthdate'
        },
        {
          key: 'operation',
          label: 'Operation'
        }
      ],
      title: 'Add New JobSeeKer',
      form: {
        _id: '',
        name: '',
        email: '',
        phoneNumber: '',
        birthdate: ''
      },
      jobseekerList: [],
      formatted: '',
      selected: ''
    }
  },
  methods: {
    onContext (ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },
    editJobSeeker (jobseeker) {
      this.title = 'Edit JobSeeKer'
      this.form = { ...jobseeker }
      this.$bvModal.show('modal-form-jobseeker')
    },
    delJobSeeker (jobseeker) {
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete JobSeeker ' +
            jobseeker.name +
            ' ?',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/jobseekers/' + jobseeker._id)
              .then(() => {
                this.getJobSeekers()
              })
          }
        })
    },
    addNewJobSeeker () {
      this.$bvModal.show('modal-form-jobseeker')
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        email: '',
        phoneNumber: '',
        birthdate: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateEmail === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        axios.put('http://localhost:3000/jobseekers', this.form).then(() => {
          this.getJobSeekers()
          this.setToaster('b-toaster-bottom-right', true)
        })
      } else {
        delete this.form._id
        axios.post('http://localhost:3000/jobseekers', this.form).then(() => {
          this.getJobSeekers()
        })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-jobseeker')
      })
    },

    getJobSeekers () {
      axios.get('http://localhost:3000/jobseekers').then(res => {
        this.jobseekerList = res.data
      })
    },
    setToaster (toaster, append = false) {
      this.$bvToast.toast('Toast body content', {
        title: 'Toaster',
        toaster: toaster,
        solid: true,
        appendToast: append
      })
    }

    // addJobSeeker (jobseeker) {
    //   jobseeker.id = this.lastId++
    //   this.jobseekerList.push(jobseeker)
    // },
    // updateJobSeeker (jobseeker) {
    //   const index = this.jobseekerList.findIndex(item => item.id === jobseeker.id)
    //   this.jobseekerList.splice(index, 1, jobseeker)
    // },
    // deleteJobSeeker (jobseeker) {
    //   const index = this.jobseekerList.findIndex(item => item.id === jobseeker.id)
    //   this.jobseekerList.splice(index, 1)
    // }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return 'Must be at least 2 characters'
      } else {
        return 'Please input Name JobSeeker.'
      }
    },
    invaildFeedbackEmail () {
      return this.stateName === true ? 'Suscess' : ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return 'Must be at least 2 characters'
      } else {
        return 'Please input JobSeeker.'
      }
    },
    statephoneNumber () {
      return this.form.phoneNumber.length >= 2
    },
    invalidFeedbackphoneNumber () {
      if (this.form.phoneNumber.length > 2) {
        return 'Must be at least 2 characters'
      }
      return 'Please input phoneNumber JobSeeker'
    }
    // stateBirthdate () {
    //   return this.form.birthdate.length >= 2
    // },
    // invalidFeedbackBirthdate () {
    //   if (this.form.birthdate.length > 2) {
    //     return 'Must be at least 2 characters'
    //   }
    //   return 'Please input birthdate JobSeeker'
    // }
  },
  mounted () {
    this.getJobSeekers()
  }
}
</script>
