<template>
  <div>
    <br /><br />
    <b-jumbotron style="text-align: left; padding-left: 10%;">
      <div class="row">
        <div class="col-8">
          <div style="padding-bottom: 15PX;" class="row">
            <h1 class="col">สมัครงาน</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <br />
            <div class="row " style="font-size:30px;">
              <label>บริษัท: {{ company.name }}</label>
              <label>อีเมล์บริษัท: {{ company.email }}</label>
              <label>ชื่อตำแหน่งงาน: {{ position.name }}</label>
              <label>ผู้สมัคร: {{ JobSeeker.name }}</label>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col" style="display: flex; padding-top:120px;">
            <b-button
              variant="danger"
              size="lg "
              style="margin-right: 8px;"
              @click="addResume()"
              >ส่งใบสมัคร</b-button
            >
          </div>
        </div>
      </div>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      jobPostingList: [],
      JobSeeker: [],
      company: [],
      position: []
    }
  },
  methods: {
    getJobPosting (id) {
      axios.get('http://localhost:3000/jobpostings/' + id).then(res => {
        this.jobPostingList = res.data
        this.jobPostingList.startDate = res.data.startDate.split('T')[0]
        this.jobPostingList.endDate = res.data.endDate.split('T')[0]
        this.company = res.data.company
        this.position = res.data.position
      })
    },
    getjobseekers (id) {
      axios.get('http://localhost:3000/jobseekers/' + id).then(res => {
        this.JobSeeker = res.data
      })
    },
    addResume () {
      axios.post('http://localhost:3000/resumes/', this.data).then(res => {})
    }
  },

  mounted () {
    this.getJobPosting(this.$route.query.id)
    this.getjobseekers('601eb76d1e72782ca8ad6178')
  }
}
</script>
