<template>
  <div>
    <div style="width:100%; text-align:end; ">
      <b-button
        variant="success"
        class="float-right"
        style="margin-right: 15px"
        @click="addNewCompany"
        >Add New</b-button
      >
    </div>

    <b-modal
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Company name"
          label-for="name"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidFeedbackCompanyName"
          :state="stateCompanyName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Name of company owner"
          label-for="userName"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidFeedbackOwner"
          :state="stateOwner"
        >
          <b-form-input
            id="name"
            v-model="form.userName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="email"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Location"
          label-for="location"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidFeedbackLocation"
          :state="stateLocation"
        >
          <b-form-textarea id="textarea-rows" rows="3" v-model="form.location" required></b-form-textarea>
        </b-form-group>

        <b-form-group
          label="Website"
          label-for="wabsize"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidFeedbackWeb"
          :state="stateWeb"
        >
          <b-form-input
            id="text"
            v-model="form.website"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields"
      ><template v-slot:cell(operation)="data">
        <b-button @click="editCompany(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompany(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import userService from './UserService.js'
export default {
  data () {
    return {
      title: 'Add Company',
      form: {
        _id: '',
        name: '',
        userName: '',
        email: '',
        location: '',
        website: '',
        isApprove: false
      },
      userList: [
        {
          _id: 1,
          name: 'Trinity Hub.',
          userName: 'metapon ponpaipal',
          email: 'james@gmail.com',
          website: 'www.google.com',
          isApprove: false
        },
        {
          _id: 2,
          name: 'Clicknext',
          userName: 'Suphayod Sirijamroonwit',
          email: 'info@clicknext.com',
          location:
            '128/232-333 30rd Floor Phayathai Plaza Ratchathewi Bangkok 10400',
          website: 'https://www.clicknext.com',
          isApprove: true
        }
      ],
      fields: [
        {
          key: '_id',
          label: 'Id'
        },
        {
          key: 'name',
          label: 'Company name'
        },
        {
          key: 'userName',
          label: 'Name of company owner'
        },
        {
          key: 'email',
          label: 'Email'
        },
        {
          key: 'location',
          label: 'Location'
        },
        {
          key: 'operation',
          label: 'Operation'
        }
      ]
    }
  },
  methods: {
    editCompany (company) {
      this.title = 'Edit Company'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete Company ' +
            company.name +
            ' ?',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/companys/' + company._id)
              .then(res => {
                this.getCompanys()
              })
          }
        })
    },
    addNewCompany () {
      this.$bvModal.show('modal-form-company')
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        userName: '',
        email: '',
        location: '',
        website: '',
        isApprove: false
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateCompanyName === false || this.stateOwner === false) {
        return
      }

      if (this.form._id !== '') {
        // userService.updateUser(this.form)
        axios.put('http://localhost:3000/companys', this.form).then(res => {
          this.getCompanys()
        })
      } else {
        // userService.addUser(this.form)
        delete this.form._id
        axios.post('http://localhost:3000/companys', this.form).then(res => {
          this.getCompanys()
        })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    getCompanys () {
      axios.get('http://localhost:3000/companys').then(res => {
        this.userList = res.data
      })
    }
  },
  computed: {
    stateCompanyName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackCompanyName () {
      if (this.form.name.length > 2) {
        return 'Company Nameต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ Company Name'
    },
    stateOwner () {
      return this.form.userName.length >= 2
    },
    invalidFeedbackOwner () {
      if (this.form.userName.length > 2) {
        return 'Must be at least 2 characters'
      }
      return 'ต้องใส่ Name of company owner'
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return 'Must be at least 2 characters'
      }
      return 'ต้องใส่ Email'
    },
    stateWeb () {
      return this.form.website.length >= 2
    },
    invalidFeedbackWeb () {
      if (this.form.website.length > 2) {
        return 'Must be at least 2 characters'
      }
      return 'ต้องใส่ Website'
    },
    stateLocation () {
      return this.form.location.length >= 2
    },
    invalidFeedbackLocation () {
      if (this.form.location.length > 2) {
        return 'Must be at least 2 characters'
      }
      return 'ต้องใส่ Location'
    }
  },
  mounted () {
    this.getCompanys()
  }
}
</script>
