<template>
  <div>
    <br /><br />
    <b-container>
      <b-jumbotron class="center">
        <template #header>Job Seeker Edition v.2</template>
        <template #lead> เว็บไซต์ค้นหาอันดับ 1 ของประเทศไทย </template><br />
      </b-jumbotron>
      <b-row>
        <b-col cols="8">
          <b-form-group
            id="fieldset-1"
            label="ค้นหาชื่อตำแหน่ง / ชื่อบริษัท"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="positionSearch"
              trim
              placeholder="กรอกชื่อตำแหน่ง / ชื่อบริษัท"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="2"
          ><br />
          <b-form-select
            v-model="selected"
            :options="provinces"
            size="lg"
            class="mb-3"
          >
            <template>
              <b-form-select-option :value="null" disabled
                >-- เลือกจังหวัดที่ต้องการ --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
        <b-col cols="2"
          ><br />
          <b-button variant="primary" @click="findJobs()"
            ><b-icon icon="search"></b-icon> ค้นหา</b-button
          >
        </b-col> </b-row
      ><br /><br /><br /><br /><br />
      <h5 style="text-align:left">ตำแหน่งงานที่ลงประกาศล่าสุด</h5>
      <template>
        <b-card
          v-for="data in jobPostingList.slice(0, 5)"
          v-bind:key="data._id"
          img-src="https://structured-data-for-wp.com/wp-content/uploads/edd/2020/08/jobposting.png"
          img-width="200px"
          img-alt="Card image"
          img-left
          class="mb-3"
        >
          <b-card-text>
            <h4>{{ data.company.name }}</h4>
            <p>ตำแหน่ง {{ data.position.name }}</p>
            <p>{{ data.company.location }}</p>
            <b-button
              class="float-right"
              variant="primary"
              @click="viewDetail(data._id)"
              ><b-icon icon="view-list"></b-icon> ดูเพิ่มเติม</b-button
            >
          </b-card-text>
        </b-card>
      </template>
      <hr class="my-4" />
      <br />
      <div class="center">
        <h4>Trinity Hub Group</h4>
        <p>61160039 Metapon Ponpaipal</p>
        <p>61160045 Watthanatham Kruram</p>
        <p>61160049 Surachet Rianglekchamnong</p>
        <p>61160143 Thawatchai Thachin</p>
        <p>61160164 Weerasak Seanglers</p>
      </div>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'

export default {
  name: 'Home',
  data () {
    return {
      selected: null,
      jobPostingList: [],
      positionSearch: '',
      provinces: []
    }
  },
  methods: {
    getJobPostings () {
      axios.get('http://localhost:3000/jobpostings').then(res => {
        this.jobPostingList = res.data
      })
    },
    viewDetail (id) {
      this.$router.push({
        path: 'detail',
        query: { id: id }
      })
    },
    getProvinces () {
      axios.get('http://localhost:3000/hello').then(data => {
        data.data.result.forEach(provinces => {
          this.provinces.push({
            value: provinces.prov_name,
            text: provinces.prov_name
          })
        })
      })
    },
    findJobs () {
      if (this.positionSearch === '' && this.selected === null) {
        return this.$router.push({ name: 'FindJobs' })
      }
      this.$router.push({
        path: 'find',
        query: {
          keyword: this.positionSearch,
          province: this.selected
        }
      })
    }
  },
  mounted () {
    this.getJobPostings()
  },
  created () {
    this.getProvinces()
  }
}
</script>

<style lang="scss">
.center {
  text-align: center;
}
</style>
