<template>
  <div>
    <br /><br />
    <b-jumbotron style="text-align: left; padding-left: 10%;">
      <div class="row">
        <div class="col-8">
          <div style="padding-bottom: 15PX;" class="row">
            <h1 class="col">บริษัท {{ company.name }}</h1>
            <div class="col">
              <div style="padding-top: 20px;">
                จังหวัด: {{ jobPostingList.province }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="row" style="background-color: palegreen; padding: 10px">
              <div class="col-10">ชื่อตำแหน่งงาน:{{ position.name }}</div>
              <div class="col-2">
                จำนวนรับ: {{ jobPostingList.recruitment }}
              </div>
            </div>
            <br />
            <div class="row">
              <label>เงินเดือน: {{ jobPostingList.salary }} บาท</label>
              <label>วันที่รับสมัคร: {{ jobPostingList.startDate }}</label>
              <label>วันที่ปิดรับสมัคร: {{ jobPostingList.endDate }}</label>
              <label
                >รายละเอียดการรับสมัคร: <br />
                {{ jobPostingList.description }}</label
              >
            </div>
            <div v-if="currentUser" style="display: flex; padding-top:120px; ">
              <b-button
                variant="success"
                size="md"
                style="margin-right: 8px"
                @click="resume(jobPostingList)"
                >สมัครงาน
              </b-button>
            </div>
          </div>
          <div class="col-4">
            <b-card
              title=" "
              img-src="https://structured-data-for-wp.com/wp-content/uploads/edd/2020/08/jobposting.png"
              img-alt="Image"
              img-top
              tag="article"
              style="max-width: 20rem"
              class="mb-2"
              bg-variant="light"
            >
              <b-card-text> อีเมล์ : {{ company.email }} </b-card-text>
              <b-card-text> เว็บไซต์ : {{ company.website }} </b-card-text>
            </b-card>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      information: '.......',
      jobPostingList: [],
      company: [],
      position: []
    }
  },
  methods: {
    getJobPosting (id) {
      axios.get('http://localhost:3000/jobpostings/' + id).then(res => {
        this.jobPostingList = res.data
        this.jobPostingList.startDate = res.data.startDate.split('T')[0]
        this.jobPostingList.endDate = res.data.endDate.split('T')[0]
        this.company = res.data.company
        this.position = res.data.position
      })
    },
    resume (data) {
      const payload = {
        company: data.company._id,
        jobposting: data._id,
        jobseeker: this.currentUser.jobseeker
      }
      axios
        .post('http://localhost:3000/applications/regapplication', payload)
        .then(() => {
          this.$bvToast.toast('dasdas', {
            title: 'Register Application Success',
            variant: 'success',
            solid: true,
            toaster: 'b-toaster-bottom-center'
          })
        })
      // this.$router.push({
      //   path: 'resume',
      //   query: { id: id }
      // })
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.auth.user
    }
  },
  mounted () {
    console.log()
    this.getJobPosting(this.$route.query.id)
  }
}
</script>
