<template>
  <div>
    <div style="width: 100%; text-align: end">
      <b-button
        variant="success"
        class="float-right"
        style="margin-right: 15px"
        @click="addNewUser"
        >Add New</b-button
      >
    </div>
    dsads
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Position"
          label-for="cposition"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalid_Position"
          :state="state_Position"
        >
          <b-form-input
            id="name"
            v-model="form.cposition"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Education"
          label-for="edu"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidEducation"
          :state="state_Edu"
        >
          <b-form-input id="name" v-model="form.edu" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Skill"
          label-for="skill"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalidSkill"
          :state="state_skill"
        >
          <b-form-input id="name" v-model="form.skill" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Requirements"
          label-for="req"
          valid-feedback="สำเร็จ"
          :invalid-feedback="invalid_Req"
          :state="state_Req"
        >
          <b-form-input id="name" v-model="form.req" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields"
      ><template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import userService from './UserService.js'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        cposition: '',
        edu: '',
        skill: '',
        req: ''
      },
      userList: [
        {
          id: 1,
          cposition: 'Front-End',
          edu: 'Bachelor Computer Sciene',
          skill: 'vue.js,css,html,sql',
          req: 'work more 4 years'
        }
      ],
      fields: [
        {
          key: '_id',
          label: 'Id'
        },
        {
          key: 'cposition',
          label: 'Position'
        },
        {
          key: 'edu',
          label: 'Education'
        },
        {
          key: 'skill',
          label: 'Skill'
        },
        {
          key: 'req',
          label: 'Requirement'
        },
        {
          key: 'operation',
          label: 'Operation'
        }
      ]
    }
  },
  methods: {
    editUser (user) {
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.cname + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/users/' + user._id)
              .then(() => {
                this.getUsers()
              })
          }
        })
    },
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        _id: '',
        cposition: '',
        edu: '',
        skill: '',
        req: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.state_Position === false || this.state_Edu === false) {
        return
      }

      if (this.form._id !== '') {
        // userService.updateUser(this.form)
        axios
          .put('http://localhost:3000/users', this.form)
          .then(() => {
            this.getUsers()
          })
      } else {
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(() => {
            this.getUsers()
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          this.userList = res.data
        })
    }
  },
  computed: {
    state_Position () {
      return this.form.cposition.length >= 2
    },
    invalid_Position () {
      if (this.form.cposition.length > 2) {
        return 'Position ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ Position'
    },
    state_Edu () {
      return this.form.edu.length >= 2
    },
    invalidEducation () {
      if (this.form.edu.length > 2) {
        return 'Education ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ Education'
    },
    state_skill () {
      return this.form.skill.length >= 2
    },
    invalidSkill () {
      if (this.form.skill.length > 2) {
        return 'Skill ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ Skill'
    },
    state_Req () {
      return this.form.req.length >= 2
    },
    invalid_Req () {
      if (this.form.req.length > 2) {
        return 'Requirement ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ Requirement'
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
