<template>
  <b-container
    ><br /><br />
    <b-jumbotron header="หางาน" lead="Find Jobs"></b-jumbotron><br /><br />
    <b-row>
      <b-col cols="3">
        <b-input-group>
          <b-input-group-text
            ><b-icon icon="briefcase"></b-icon
          ></b-input-group-text>
          <b-form-input
            v-model="text"
            placeholder="ชื่อตำแหน่งงาน / ชื่อบริษัท"
          ></b-form-input> </b-input-group
        ><br />
        <b-input-group>
          <b-form-select
            v-model="province"
            :options="provinces"
            size="lg"
            class="mb-3"
            style="height:35px;width:100%;opacity:0.5"
          >
            <template>
              <b-form-select-option :value="null"
                >-- เลือกจังหวัดที่ต้องการ --</b-form-select-option
              >
            </template>
          </b-form-select> </b-input-group
        >
        <b-button variant="success" @click="searchJob">ค้นหา</b-button>
      </b-col>
      <b-col cols="9">
        <template>
          <div v-if="jobpostingList.length > 0">
            <b-card
              v-for="data in jobpostingList"
              v-bind:key="data._id"
              img-src="https://structured-data-for-wp.com/wp-content/uploads/edd/2020/08/jobposting.png"
              img-width="200px"
              img-alt="Card image"
              img-left
              class="mb-3"
            >
              <b-card-text>
                <h4>{{ data.company.name }}</h4>
                <p>ตำแหน่ง {{ data.position.name }}</p>
                <p>{{ data.company.location }}</p>
                <b-button
                  class="float-right"
                  variant="primary"
                  @click="viewDetail(data._id)"
                  ><b-icon icon="view-list"></b-icon> ดูเพิ่มเติม</b-button
                >
              </b-card-text>
            </b-card>
          </div>
          <div v-else>
            <center style="opacity:0.5">ไม่พบข้อมูลในการค้นหา กรุณาค้นหาใหม่อีกรอบ</center>
          </div>
        </template>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      text: '',
      province: null,
      provinces: [],
      jobpostingList: []
    }
  },
  methods: {
    getJobPostings () {
      axios.get('http://localhost:3000/jobpostings').then(res => {
        this.jobpostingList = res.data
      })
    },
    findJobs () {
      this.$router.push({
        path: 'find',
        query: {
          keyword: this.positionSearch,
          province: this.selected
        }
      })
    },
    getProvinces () {
      axios.get('http://localhost:3000/hello').then(data => {
        data.data.result.forEach(provinces => {
          this.provinces.push({
            value: provinces.prov_name,
            text: provinces.prov_name
          })
        })
      })
    },
    viewDetail (id) {
      this.$router.push({
        path: 'detail',
        query: { id: id }
      })
    },
    searchJob () {
      const search = {
        keyword: this.text,
        province: this.province
      }
      axios.post('http://localhost:3000/jobpostings/search', (search)).then(res => {
        this.jobpostingList = res.data
      })
    },
    async querySearchJob () {
      const search = {
        keyword: this.$route.query.keyword,
        province: this.$route.query.province
      }
      axios.post('http://localhost:3000/jobpostings/search', (search)).then(res => {
        this.jobpostingList = res.data
      })
    }
  },
  mounted () {
    if (Object.keys(this.$route.query).length === 0) {
      this.getJobPostings()
    } else {
      this.querySearchJob()
    }
    this.getProvinces()
  }
}
</script>
