<template>
  <div>
    <b-navbar fixed="top" type="dark" variant="dark">
      <b-navbar-brand class="mb-0" style="margin-left:20px"
        >Job Seeker Edition v.2</b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item><b-link to="/" class="nav">Home</b-link></b-nav-item>
          <b-nav-item
            ><b-link to="/find" class="nav">Find Jobs</b-link></b-nav-item
          >
          <b-nav-item-dropdown v-if="currentUser" text="Management">
            <b-dropdown-item v-if="showCompanyBoard"
              ><b-link to="/jobposting" class="dropdown"
                >Jobposting</b-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="showAdminBoard"
              ><b-link to="/jobseeker" class="dropdown"
                >JobSeeker</b-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="showAdminBoard"
              ><b-link to="/company" class="dropdown"
                >Company</b-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="showAdminBoard"
              ><b-link to="/position" class="dropdown"
                >Position</b-link
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
        <div v-if="!currentUser" class="navbar-nav ml-auto">
          <b-navbar-nav>
            <b-nav-item><b-link to="/login" class="nav">Login</b-link></b-nav-item>
            <b-nav-item-dropdown text="Register">
              <b-dropdown-item
              ><b-link to="/registerjobseeker" class="dropdown"
                >Register JobSeeker</b-link
              ></b-dropdown-item
            >
             <b-dropdown-item
              ><b-link to="/registercompany" class="dropdown"
                >Register Company</b-link
              ></b-dropdown-item
            >
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </div>
        <div v-if="currentUser" class="navbar-nav ml-auto">
          <a class="nav-link" href @click.prevent="logOut">
            Log out
          </a>
        </div>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  computed: {
    currentUser () {
      return this.$store.state.auth.user
    },
    showAdminBoard () {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN')
      }

      return false
    },
    showCompanyBoard () {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_COMPANY')
      }

      return false
    }
  },
  methods: {
    logOut () {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.nav {
  text-decoration: none;
  color: #dadada;
  transition: 0.2s;
  border-bottom: 0px solid orangered;
  border-width: 0px;
}
.nav:hover {
  margin-bottom: -30px;
  border-bottom: 2px solid orangered;
  border-width: 10px;
  transform: scale(1.1, 1.1);
}
.dropdown {
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
  border-bottom: 0px solid orangered;
  border-width: 0px;
}
.dropdown:hover {
  border-bottom: 2px solid orangered;
  border-width: 5px;
  transform: scale(1.1, 1.1);
}
</style>
