<template>
  <div id="app">
    <div>
      <Navbar></Navbar><br><br>
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
    </div>
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
export default {
  components: {
    Navbar
  }
}
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
$body-font-family: 'Kanit';
$title-font: 'Kanit';
.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title {
    // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
  .headline {
    font-family: $title-font, sans-serif !important;
    font-size: 1rem !important;
  }
  .display-2 {
    font-family: $title-font, sans-serif !important;
  }
}
body {
  font-family: $body-font-family, sans-serif !important;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
