<template>
  <div class="container">
    <div class="data-table">
      <div class="layout">
        <div class="text md-2" style="width: 100%; text-align: left">
          <h4
            style="font-size:32px; padding-left: 0px; padding-bottom: 30px; margin-top: 30px"
          >
            สมัครสมาชิกคนหางาน
          </h4>
        </div>
      </div>
      <div class="data-table">
        <form ref="form">
          <b-row>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <!-- <div class="form-group">
                    <label for="name" style="font-size: 24px">ชื่อ-นามสกุล</label>
                    <input type="text" class="form-control" v-model="jobseeker.name" required>
                </div> -->
                <h4 style="font-size: 24px; padding-left: 0px;">
                  ชื่อผู้ใช้งาน
                </h4>
                <b-form-group
                  label-for="nameuser"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackUserName"
                  :state="stateUserName"
                >
                  <b-form-input
                    id="nameuser"
                    v-model="user.username"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  ชื่อ-นามสกุล
                </h4>
                <b-form-group
                  label-for="name"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackName"
                  :state="stateName"
                >
                  <b-form-input
                    id="name"
                    v-model="jobseeker.name"
                    required
                  ></b-form-input>
                </b-form-group>

                <h4 style="font-size: 24px; padding-top: 30px;">
                  วันเกิด
                </h4>
                <b-form-group
                  id="birthdate"
                  label-for="birthdate"
                  style="font-size: 18px"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackBirthDate"
                  :state="stateBirthDate"
                >
                  <b-form-input
                    id="birthdate"
                    v-model="jobseeker.birthdate"
                    type="date"
                    placeholder="00 / 00 / 0000"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  อัปโหลด
                </h4>
                <b-form-group
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackInputFile"
                  :state="stateInputFile"
                >
                  <b-form-file
                    id="resume"
                    v-model="file"
                    required
                    accept=".pdf"
                  >
                  </b-form-file>
                </b-form-group>
              </div>
            </b-col>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <h4 style="font-size: 24px; padding-left: 0px;">
                  รหัสผ่าน
                </h4>
                <b-form-group
                  label-for="email"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackUserPassword"
                  :state="stateUserPassword"
                >
                  <b-form-input
                    id="email"
                    type="password"
                    v-model="user.password"
                    required
                  ></b-form-input>
                </b-form-group>
                <h4 style="font-size: 24px; padding-top: 30px;">
                  อีเมล์
                </h4>
                <b-form-group
                  label-for="email"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackEmail"
                  :state="stateEmail"
                >
                  <b-form-input
                    id="email"
                    v-model="user.email"
                    required
                  ></b-form-input>
                </b-form-group>

                <h4 style="font-size: 24px; padding-top: 30px;">
                  เบอร์โทร
                </h4>
                <b-form-group
                  label-for="phoneNumber"
                  valid-feedback="สำเร็จ"
                  style="font-size: 18px"
                  :invalid-feedback="invalidFeedbackphoneNumber"
                  :state="statephoneNumber"
                >
                  <b-form-input
                    id="phoneNumber"
                    v-model="jobseeker.phoneNumber"
                    required
                  ></b-form-input>
                </b-form-group>
                <!-- <div class="form-group">
                    <label for="phoneNumber" style="font-size: 24px">เบอร์โทร</label>
                    <input type="text" class="form-control" v-model="jobseeker.phoneNumber" required>
                </div> -->
              </div>
            </b-col>
          </b-row>
          <div
            style="display: flex; justify-content: flex-end; margin-top: 70px;"
          >
            <b-button
              variant="danger"
              size="md "
              style="margin-right: 8px;"
              @click="cancelJobSeeker()"
              >ยกเลิก</b-button
            >
            <b-button
              variant="success"
              size="md"
              style="margin-right: 8px"
              @click="saveJobSeeker()"
              >สมัครสมาชิก
            </b-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import User from '../../models/User'
export default {
  data () {
    return {
      user: new User('', '', ''),
      jobseeker: {
        name: '',
        phoneNumber: '',
        birthdate: '',
        resume: {
          path: ''
        },
        isApprove: false
      },
      file: null
    }
  },
  methods: {
    // editCompany (company) {
    //   this.title = 'Edit Company'
    //   this.form = { ...company }
    //   this.$bvModal.show('modal-form-company')
    // },
    // addJobposting () {
    //   this.$bvModal.show('modal-form-jobposting')
    // },
    // resetModal () {
    // },
    // handleOk (bvModalEvt) {
    //   bvModalEvt.preventDefault()
    //   this.handleSubmit()
    // },
    cancelJobSeeker () {
      this.$router.push({
        name: 'Home'
      })
    },
    saveJobSeeker () {
      // this.handleSubmit()
      // this.$router.push({
      //   name: 'Home'
      // })
      if (this.checkPDFFile() && this.file !== null) {
        const formData = new FormData()
        formData.append(this.generatePDFName(), this.file)
        this.jobseeker.email = this.user.email
        axios
          .post('http://localhost:3000/jobseekers', this.jobseeker)
          .then(data => {
            this.$validator.validate().then(isValid => {
              if (isValid) {
                this.user.roles = ['user']
                this.user.ref = data.data._id
                this.$store.dispatch('auth/register', this.user).then(
                  data => {
                    this.message = data.message
                    this.successful = true
                    this.$router.push('/login')
                    this.user = new User('', '', '')
                    this.jobseeker = {
                      name: '',
                      phoneNumber: '',
                      birthdate: '',
                      resume: {
                        path: ''
                      },
                      isApprove: false
                    }
                  },
                  error => {
                    this.message =
                      (error.response && error.response.data) ||
                      error.message ||
                      error.toString()
                    this.successful = false
                  }
                )
              }
            })
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    generatePDFName () {
      const temp = this.file.name.split('.')
      const r = Math.random()
        .toString(36)
        .substring(7)
      return temp[0] + r + '.' + temp[1]
    },
    handleSubmit () {
      const apiURL = 'http://localhost:3000/jobseekers'

      axios
        .post(apiURL, this.jobseeker)
        .then(() => {
          this.jobseeker = {
            user: {
              user: '',
              password: ''
            },
            name: '',
            email: '',
            phoneNumber: '',
            birthdate: '',
            resume: {
              path: ''
            },
            isApprove: ''
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    checkPDFFile () {
      if (this.file.type !== 'application/pdf') {
        alert('Please insert PDF file')
        this.file = null
        return false
      }
      return true
    }
    // getJobposting () {
    //   axios.get('http://localhost:3000/jobpostings').then(res => {
    //     this.jobpostingList = res.data
    //     console.log(this.jobpostingList)
    //   })
    // }
  },
  computed: {
    stateUserName () {
      return this.user.username.length >= 2
    },
    invalidFeedbackUserName () {
      if (this.user.username.length > 2) {
        return 'ผู้ใช้งาน ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อผู้ใช้งาน'
    },
    stateUserPassword () {
      return this.user.password.length >= 6
    },
    invalidFeedbackUserPassword () {
      if (this.user.password.length > 6) {
        return 'รหัสผ่าน ต้องมีขนาดอย่างน้อย 6 ตัวอักษร'
      }
      return 'กรุณากรอกรหัสผ่าน'
    },
    stateName () {
      return this.jobseeker.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.jobseeker.name.length > 2) {
        return 'ชื่อ-นามสกุล ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อ-นามสกุล'
    },
    stateBirthDate () {
      return this.jobseeker.birthdate.length >= 2
    },
    invalidFeedbackBirthDate () {
      if (this.jobseeker.birthdate.length > 2) {
        return 'วันเกิด ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาเลือกวันเกิด'
    },
    stateInputFile () {
      return this.jobseeker.resume.path.length >= 2
    },
    invalidFeedbackInputFile () {
      if (this.jobseeker.resume.path.length > 2) {
        return 'resume ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาอัปโหลด resume'
    },
    stateEmail () {
      return this.user.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.user.email.length > 2) {
        return 'อีเมล์ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกอีเมล์'
    },
    statephoneNumber () {
      return this.jobseeker.phoneNumber.length >= 2
    },
    invalidFeedbackphoneNumber () {
      if (this.jobseeker.phoneNumber.length > 2) {
        return 'เบอร์โทร ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกเบอร์โทร'
    }
  },
  mounted () {},
  created () {}
}
</script>
<style>
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
</style>
