<template>
  <div class="container">
    <div class="data-table">
      <div class="layout" style="margin-top: 50px">
        <b-row>
          <b-col>
            <div class="text-left" style="width: 100%; text-align: left">
              <h4 style="font-size: 32px; padding-left: 30px;">ประกาศงาน</h4>
            </div>
          </b-col>
          <b-col>
            <div class="text-right" style="width: 100%; text-align: end">
              <b-button
                variant="success"
                class="float-right"
                style="margin-right: 15px"
                @click="pushAddJobposting(jobPosting.id)"
                >เพิ่มประกาศงาน</b-button
              >
            </div>
          </b-col>
        </b-row>
      </div>
      <b-card-group deck>
        <div
          class="card-box row"
          style="display: flex; padding: 15px; margin: 0px auto;height:50px margin-top: 30px"
        >
          <b-card
            img-src="https://www.mintformations.co.uk/blog/wp-content/uploads/2020/05/shutterstock_583717939.jpg"
            img-width="180px"
            img-alt="Card image"
            img-left
            class="mb-3"
            v-for="jobposting in jobpostingList"
            :v-bind:key="jobposting"
            v-bind:key="jobposting._id"
          >
            <b-card-text
              style="text-align: left; font-size: 19px; font-weight:bold;"
            >
              {{ jobposting.position.name }}
            </b-card-text>
            <b-card-text style="text-align: left">
              {{ jobposting.province }}
            </b-card-text>
            <div style="display: flex;float: right">
              <b-button
                variant="warning"
                size="sm"
                style="margin-right: 8px"
                @click="pushEditJobPosting(jobposting._id)"
                >แก้ไข
              </b-button>
              <div class="DeleteButton">
                <b-button
                  variant="danger"
                  size="sm"
                  @click="delJobposting(jobposting)"
                  >ลบ
                </b-button>
              </div>
            </div>
          </b-card>
        </div>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      jobPosting: {
        id: '',
        positions: {
          _id: '',
          name: ''
        },
        recruitment: '',
        statDate: new Date().toISOString().substr(0, 10),
        endDate: new Date().toISOString().substr(0, 10),
        province: '',
        salary: ''
      },
      modalShow: false,
      jobpostingList: []
    }
  },
  methods: {
    delJobposting (jobposting) {
      this.$bvModal
        .msgBoxConfirm(
          'คุณต้องการจะลบหรือไม่ ' + jobposting.position.name + ' ?',
          {
            title: 'คุณต้องการจะลบหรือไม่',
            size: 'md',
            buttonSize: 'md',
            okVariant: 'danger',
            okTitle: 'ยืนยัน',
            cancelTitle: 'ยกเลิก',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/jobpostings/' + jobposting._id)
              .then(res => {
                this.getJobpostings()
              })
          }
        })
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    pushAddJobposting (id) {
      this.$router.push({
        name: 'ManageJobpostings'
      })
    },
    pushEditJobPosting (id) {
      this.$router.push({
        name: 'ManageJobpostings',
        params: { jobPosting_id: id }
      })
    },
    getJobpostings (id) {
      axios.get('http://localhost:3000/jobpostings/' + id + '/company').then(res => {
        this.jobpostingList = res.data
      })
    }
  },
  computed: {},
  mounted () {
    this.getJobpostings(this.$store.state.auth.user.company)
  }
}
</script>
<style>
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}
</style>
