<template>
  <div class="container">
    <div class="data-table">
      <div class="layout">
        <div class="text md-2" style="width: 100%; text-align: left">
          <h4 style="font-size:32px; padding-left: 0px; padding-bottom: 30px; padding-top:30px">
            ประกาศงาน
          </h4>
        </div>
      </div>
      <div class="data-table">
        <form ref="form">
          <b-row>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <h4 style="font-size: 24px;">ตำแหน่งงาน</h4>
                <div>
                  <b-form-group
                    id="position"
                    label-for="position"
                    valid-feedback="สำเร็จ"
                    :invalid-feedback="invalidFeedbackPosition"
                    :state="statePosition"
                  >
                    <b-form-input
                    v-model="form.position.name"
                    list="my-list-id"
                    >
                    </b-form-input>

                    <datalist id="my-list-id">
                      <option
                        v-for="position in positions"
                        v-bind:key="position._id"
                        >{{ position.name }}</option
                      >
                    </datalist>
                  </b-form-group>
                </div>
                <!-- วันที่ประกาศงาน -->
                <h4 style="font-size: 24px; padding-top: 15px;">วันทีประกาศงาน</h4>
                <b-form-group
                  id="startDate"
                  label-for="startDate"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackStartDate"
                  :state="stateStartDate"
                >
                  <b-form-input
                    id="statDate"
                    v-model="form.startDate"
                    type="date"
                    placeholder="00 / 00 / 0000"
                    required
                  >
                  </b-form-input>
                </b-form-group>
                <!-- จังหวัดที่ประกาศงาน -->
                <h4 style="font-size: 24px; padding-top: 15px;">จังหวัดที่ประกาศงาน</h4>
                <b-form-group
                  id="province"
                  label-for="province"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackProvince"
                  :state="stateProvince"
                >
                  <b-form-select
                    v-model="form.province"
                    :options="provinces"
                    class="w-100 p-2 bg-light text-gray"
                    value-field="value"
                    text-field="text"
                    disabled-field="notEnabled"
                    style="color: darkgray; border-color:currentColor;"
                  ></b-form-select>
                </b-form-group>
              </div>
            </b-col>
            <b-col>
              <div
                class="text-left"
                style="width: 100%; text-align: left; padding-left:30px;"
              >
                <h4 style="font-size: 24px; padding-left: 0px;">
                  จำนวนคนที่รับ
                </h4>
                <b-form-group
                  id="recruitment"
                  label-for="recruitment"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackRecruitment"
                  :state="stateRecruitment">
                    <b-form-input
                      id="recruitment"
                      v-model="form.recruitment"
                      type="number"
                      placeholder="0"
                      required
                    ></b-form-input>
                </b-form-group>
                <!-- วันที่ประกาศงาน -->
                <h4 style="font-size: 24px; padding-top: 15px;">วันทีปิดรับประกาศงาน</h4>
                <b-form-group
                  id="endDate"
                  label-for="endDate"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackEndDate"
                  :state="stateEndDate">
                    <b-form-input
                      id="endDate"
                      v-model="form.endDate"
                      type="date"
                      placeholder="00 / 00 / 0000"
                      required
                    >
                    </b-form-input>
                </b-form-group>
                <!-- จังหวัดที่ประกาศงาน -->
                <h4 style="font-size: 24px; padding-top: 15px;">เงินเดือน</h4>
                <b-form-group
                  id="salary"
                  label-for="salary"
                  valid-feedback="สำเร็จ"
                  :invalid-feedback="invalidFeedbackSalary"
                  :state="stateSalary">
                  <b-form-input
                    id="salray"
                    v-model="form.salary"
                    type="number"
                    placeholder="0.00"
                    required
                  ></b-form-input>
                </b-form-group>
              </div>
            </b-col>
            <!-- จังหวัดที่ประกาศงาน -->
            <div style="margin-left: 30px; margin-right:30px; padding-top: 15px;">
              <h4 style="font-size: 24px;">รายละเอียดของงาน</h4>
              <b-form-group id="description" label-for="description">
                <b-form-textarea
                  id="description"
                  v-model="form.description"
                  type="text"
                  placeholder="กรอกรายละเอียด"
                  required
                  rows="3"
                  max-rows="8"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div style="display: flex; padding-top:120px; justify-content: flex-end;">
              <b-button
                variant="danger"
                size="md "
                style="margin-right: 8px;"
                @click="cancelJobposting()"
                >ยกเลิก</b-button
              >
              <b-button
                variant="success"
                size="md"
                style="margin-right: 8px"
                @click="handleSubmit()"
                >ประกาศงาน
              </b-button>
            </div>
          </b-row>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      form: {
        _id: '',
        position: {
          _id: '',
          name: ''
        },
        recruitment: '',
        startDate: new Date().toISOString().substr(0, 10),
        endDate: new Date().toISOString().substr(0, 10),
        province: '',
        salary: '',
        description: ''
      },
      positions: [],
      provinces: []
    }
  },
  methods: {
    cancelJobposting () {
      this.$router.push({
        name: 'Jobposting'
      })
    },
    saveJobposting () {
      this.$router.push({
        name: 'Jobposting'
      })
    },
    handleSubmit () {
      if (this.form._id !== '') {
        axios.put('http://localhost:3000/jobpostings', this.form).then(res => {
        })
      } else {
        delete this.form._id
        this.form.company = this.$store.state.auth.user.company
        axios.post('http://localhost:3000/jobpostings', this.form).then(res => {
          this.form = {
            _id: '',
            position: {
              _id: '',
              name: ''
            },
            recruitment: '',
            startDate: new Date().toISOString().substr(0, 10),
            endDate: new Date().toISOString().substr(0, 10),
            province: '',
            salary: '',
            description: ''
          }
        })
      }
      this.$router.push({ path: 'jobposting' })
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    getJobposting (id) {
      if (id !== undefined) {
        axios.get('http://localhost:3000/jobpostings/' + id).then(res => {
          this.form = res.data
          this.form.startDate = new Date(res.data.startDate)
            .toISOString()
            .substr(0, 10)
          this.form.endDate = new Date(res.data.endDate)
            .toISOString()
            .substr(0, 10)
        })
      }
    },
    getProvinces () {
      axios.get('http://localhost:3000/hello').then(data => {
        data.data.result.forEach(provinces => {
          this.provinces.push({
            value: provinces.prov_name,
            text: provinces.prov_name
          })
        })
      })
    },
    getPositions () {
      axios.get('http://localhost:3000/positions').then(res => {
        this.positions = res.data
      })
    }
  },
  computed: {
    statePosition () {
      return this.form.position.name.length >= 2
    },
    invalidFeedbackPosition () {
      if (this.form.position.name.length > 2) {
        return 'ตำแหน่งงาน ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาเลือกตำแหน่งงาน'
    },
    stateStartDate () {
      return this.form.startDate.length >= 2
    },
    invalidFeedbackStartDate () {
      if (this.form.startDate.length > 2) {
        return 'วันที่ประกาศ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาเลือกวันที่ประกาศ'
    },
    stateProvince () {
      return this.form.province.length >= 2
    },
    invalidFeedbackProvince () {
      if (this.form.province.length > 2) {
        return 'จังหวัดที่ประกาศงาน ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาเลือกจังหวัดที่ประกาศงาน'
    },
    stateRecruitment () {
      return this.form.recruitment.length >= 1
    },
    invalidFeedbackRecruitment () {
      if (this.form.recruitment.length > 1) {
        return 'จำนวนคนที่รับ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกจำนวนคนที่รับ'
    },
    stateEndDate () {
      return this.form.endDate.length >= 2
    },
    invalidFeedbackEndDate () {
      if (this.form.endDate.length > 2) {
        return 'วันที่ปิดรับประกาศ ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณาเลือกวันที่ปิดรับประกาศ'
    },
    stateSalary () {
      return this.form.salary.length >= 1
    },
    invalidFeedbackSalary () {
      if (this.form.salary.length > 1) {
        return 'เงินเดือน ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'กรุณากรอกเงินเดือน'
    }
  },
  mounted () {},
  created () {
    this.getJobposting(this.$route.params.jobPosting_id)
    this.getPositions()
    this.getProvinces()
  }
}
</script>
<style>
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
</style>
